html{
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Montserrat';
}

.navBar {
    background-color: #Ababab;
    overflow: hidden;
    width:100%;
}

.navBar img {
    float: left;
    width: 8vw;
    margin-left: 2.5vw;
}

.sideNav {
    height: 100vh;
    width: 13%;
    z-index: 1;
    background-color: #464846;
    top: 8vw;
    position: sticky;
    top:0;
    float: left;
}

.sideNav a {
    padding: 30px 15px 30px 15px;
    text-decoration: none;
    font-size: 2vw;
    color: #Ababab;
    display: block;
    transition: 0.3s;
    text-align: center;
}

.sideNav a:hover {
    background-color: #Ababab;
    color: white;
}

.content{
    margin-left: 13%;
}

.content div{
    height: 100vh;
    text-align: center;
    font-size: 7vh;
    font-style: italic;
    padding-top: 5vh;
}

#Home{
    background-color: #242a3d;
    color: white;
}

#About{
    background-color: #D90000;
}

#Info{
    background-color: #Ffbe00;
}

#Contact{
    background-color: #0b1741;
    color: white;
}

.imprint-content{
    padding: 15% 7% 0 20%;
    font-size: 1.5vw;
    font-style: italic;
    margin: 0;
}
